@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  background: linear-gradient(to right, #ebf8ff, transparent);
  color: #374151;
  font-size: 0.875rem;
}

@media (min-width: 640px) {
  #root {
    font-size: 1rem;
  }
}


* {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
.bold {
  font-family: "Poppins", sans-serif;
}

.main-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header-text-span {
  color: #4834e0;
  font-weight: bold;
  font-size: 20px;
}

.main-page-div {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  max-width: 5000px;
  margin: 0 auto;
  width: 100%;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
}

.header-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.main-body {
  flex: 1;
  background-color: #4d4784;
  padding: 1rem;
}