audioread==3.0.1
huggingface-hub==0.26.3
importlib_metadata==8.5.0
librosa==0.10.2.post1
openai-whisper==20240930
safetensors==0.4.5
scikit-learn==1.5.2
scipy==1.13.1
sentencepiece==0.2.0
soundfile==0.12.1
tiktoken==0.8.0
tokenizers==0.20.3
torch==2.5.1
transformers==4.46.3




