
/* NEW FILE */

.sign-in-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /*background-color: #f4f4f4;  Light background color */
  }
  
  .form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  .form-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    font-size: 14px;
    color: #555;
  }
  
  .input-field {
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
  }
  
  .submit-btn {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-btn:hover {
    background-color: #0056b3;
  }
  
  .switch-btn {
    background: none;
    border: none;
    color: #007BFF;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
  }
  
  .switch-btn:hover {
    text-decoration: underline;
  }
  
  